@font-face {
  font-family: "Prata";
  src: url("../font/Prata-Regular.woff2") format("woff2"), url("../font/Prata-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #282829;
  color: #fff;
}
body.is-hidden {
  overflow: hidden;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  outline: none;
}

button {
  font-family: inherit;
}

.button {
  background-color: #fff;
  color: #222222;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
  padding: 24px 15px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.button:hover {
  background-color: #d5c9be;
}
@media screen and (max-width: 1099px) {
  .button {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .button {
    padding: 15px;
    font-size: 16px;
  }
}

.container {
  width: 100%;
  max-width: 1636px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}
.container_main {
  position: relative;
  z-index: 3;
}

.page {
  overflow: hidden;
  position: relative;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
}
@media screen and (max-width: 599px) {
  .header {
    background-color: #000;
  }
}
.header.fixed {
  position: fixed;
  background-color: #000;
  z-index: 11;
  transform: translateY(-100%);
  animation-name: is-show-header;
  animation-duration: 0.3s;
}
.header.is-show {
  transition: transform 0.3s ease;
  transform: translateY(0);
}
.header__inner {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
}
.header__logo {
  font-family: "Prata", sans-serif;
  font-size: 36px;
  line-height: 1.5;
  margin-right: 205px;
  text-transform: uppercase;
}
@media screen and (max-width: 1439px) {
  .header__logo {
    margin-right: 160px;
  }
}
@media screen and (max-width: 1099px) {
  .header__logo {
    margin-right: 20px;
  }
}
@media screen and (max-width: 599px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  font-style: italic;
  text-transform: uppercase;
}
@media screen and (max-width: 1099px) {
  .header__nav {
    margin-left: auto;
  }
}
@media screen and (max-width: 599px) {
  .header__nav {
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 10;
    background-color: #000;
    padding: 20px;
    width: 100%;
    transform: translateX(-100%);
    justify-content: center;
    transition: transform 0.2s ease;
  }
  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
  }
}
.header__nav li {
  margin-right: 29px;
}
.header__nav li a:hover {
  text-decoration: underline;
}
.header__nav li:last-child {
  margin-right: 0;
}

.burg {
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 4;
  transition: opacity 0.3s ease 0s;
  margin-top: -8px;
  margin-left: 20px;
  margin-left: auto;
}
@media screen and (max-width: 460px) {
  .burg {
    margin-left: auto;
  }
}
.burg__line, .burg__line:nth-child(2)::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background-color: #fff;
  transition: transform 0.3s, opacity 0.2s;
}
.burg.active .burg__line:first-child {
  opacity: 0;
  transform: translateX(-100%);
}
.burg.active .burg__line:nth-child(2) {
  transform: rotate(45deg);
  background-color: #fff;
}
.burg.active .burg__line:nth-child(2)::after {
  transform: rotate(-90deg);
  background-color: #fff;
}
.burg.active .burg__line:nth-child(3) {
  opacity: 0;
  transform: translateX(100%);
}
@media screen and (min-width: 600px) {
  .burg {
    display: none;
  }
}

.main {
  background-color: #222222;
  padding-top: 286px;
  padding-bottom: 50px;
  position: relative;
}
@media screen and (max-width: 1439px) {
  .main {
    padding-top: 186px;
  }
}
@media screen and (max-width: 1279px) {
  .main {
    padding-top: 146px;
  }
}
@media screen and (max-width: 599px) {
  .main {
    padding-top: 126px;
    padding-bottom: 25px;
  }
}
.main::after {
  content: "";
  position: absolute;
  right: calc((100vw - 1920px) / 2);
  top: 0;
  bottom: 0;
  width: 763px;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  z-index: 1;
}
@media screen and (max-width: 1439px) {
  .main::after {
    width: 629px;
    right: 0;
  }
}
@media screen and (max-width: 1279px) {
  .main::after {
    width: 450px;
  }
}
@media screen and (max-width: 1099px) {
  .main::after {
    width: 100%;
  }
}
.main::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
@media screen and (min-width: 1100px) {
  .main::before {
    display: none;
  }
}
.main__wrapper {
  max-width: 767px;
}
@media screen and (max-width: 1439px) {
  .main__wrapper {
    max-width: 677px;
  }
}
@media screen and (max-width: 1279px) {
  .main__wrapper {
    max-width: 587px;
  }
}
.main__title {
  font-family: "Prata", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media screen and (max-width: 1439px) {
  .main__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .main__title {
    font-size: 32px;
    margin-bottom: 12px;
  }
}
.main__subtitle {
  font-size: 50px;
  line-height: 1.2;
  display: block;
  margin-bottom: 40px;
}
@media screen and (max-width: 1439px) {
  .main__subtitle {
    font-size: 38px;
  }
}
@media screen and (max-width: 599px) {
  .main__subtitle {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
.main__list li {
  font-size: 24px;
  line-height: 1.0833333333;
  margin-bottom: 20px;
  position: relative;
  padding-left: 56px;
}
@media screen and (max-width: 1439px) {
  .main__list li {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .main__list li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
    padding-left: 28px;
  }
}
.main__list li:last-child {
  margin-bottom: 0;
}
.main__list li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 39px;
  height: 37px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1439px) {
  .main__list li::after {
    top: 3px;
  }
}
@media screen and (max-width: 599px) {
  .main__list li::after {
    width: 18px;
    height: 18px;
  }
}
.main__list li span {
  font-family: "Prata", sans-serif;
  font-size: 40px;
  line-height: 1.5;
  vertical-align: middle;
  display: inline-block;
  margin: -4px 0 0;
}
@media screen and (max-width: 1439px) {
  .main__list li span {
    font-size: 32px;
  }
}
@media screen and (max-width: 599px) {
  .main__list li span {
    font-size: 18px;
  }
}
.main__button {
  font-size: 24px;
  padding: 30px 52px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  margin-top: 40px;
}
@media screen and (max-width: 1099px) {
  .main__button {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .main__button {
    padding: 15px 40px;
    font-size: 16px;
  }
}
@media screen and (max-width: 599px) {
  .main__button {
    max-width: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about {
  padding-top: 99px;
  position: relative;
}
@media screen and (max-width: 1099px) {
  .about {
    padding-top: 40px;
  }
}
@media screen and (max-width: 599px) {
  .about {
    padding-top: 20px;
  }
}
.about::before {
  content: "";
  position: absolute;
  right: calc((100vw - 1920px) / 2);
  top: 99px;
  bottom: 0;
  width: 592px;
  background-image: url(../img/order_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1439px) {
  .about::before {
    content: none;
  }
}
.about::after {
  content: "";
  position: absolute;
  left: calc((100vw - 1920px) / 2);
  top: 99px;
  bottom: 0;
  width: 589px;
  background-image: url(../img/order_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1439px) {
  .about::after {
    left: 0;
    width: 629px;
  }
}
@media screen and (max-width: 1279px) {
  .about::after {
    width: 450px;
  }
}
@media screen and (max-width: 1099px) {
  .about::after {
    position: static;
    width: 100%;
    display: block;
    padding-top: 60%;
    margin-top: 50px;
    background-position: center 25%;
  }
}
.about__wrapper {
  max-width: 614px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1439px) {
  .about__wrapper {
    margin-right: 20px;
    max-width: 100%;
    padding-left: 659px;
  }
}
@media screen and (max-width: 1279px) {
  .about__wrapper {
    padding-left: 469px;
  }
}
@media screen and (max-width: 1099px) {
  .about__wrapper {
    padding-left: 0;
    margin-right: 0px;
  }
}
.about__list li {
  border-bottom: 1px solid #55565A;
  padding-top: 31px;
  padding-bottom: 31px;
  min-height: 117px;
}
@media screen and (max-width: 1439px) {
  .about__list li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 599px) {
  .about__list li {
    min-height: 65px;
  }
}
.about__list li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.about__list li span {
  position: relative;
  padding-left: 78px;
  display: inline-block;
  font-size: 24px;
  line-height: 1.4166666667;
}
@media screen and (max-width: 1439px) {
  .about__list li span {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .about__list li span {
    font-size: 16px;
    padding-left: 40px;
  }
}
.about__list li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 58px;
  height: 47px;
  background-image: url(../img/about_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 599px) {
  .about__list li span::after {
    width: 28px;
    height: 24px;
  }
}
.about__button {
  margin-top: 67px;
  font-weight: 700;
}
@media screen and (max-width: 1439px) {
  .about__button {
    margin-top: 30px;
  }
}

.order {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .order {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.order__inner {
  background-color: #fff;
  border-radius: 25px;
  padding-top: 72px;
  padding-bottom: 72px;
  padding-left: 134px;
  position: relative;
  padding-right: 682px;
}
@media screen and (max-width: 1439px) {
  .order__inner {
    padding-left: 54px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
@media screen and (max-width: 1279px) {
  .order__inner {
    padding-right: 552px;
  }
}
@media screen and (max-width: 1099px) {
  .order__inner {
    padding-right: 324px;
    padding-left: 30px;
    border-radius: 12px;
  }
}
@media screen and (max-width: 767px) {
  .order__inner {
    padding-right: 30px;
  }
}
@media screen and (max-width: 599px) {
  .order__inner {
    padding: 25px 20px;
    border-radius: 8px;
  }
}
.order__inner::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 650px;
  background-image: url(../img/form_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0 25px 25px 0;
}
@media screen and (max-width: 1279px) {
  .order__inner::before {
    width: 510px;
  }
}
@media screen and (max-width: 1099px) {
  .order__inner::before {
    width: 298px;
    border-radius: 0 12px 12px 0;
  }
}
@media screen and (max-width: 767px) {
  .order__inner::before {
    content: none;
  }
}
.order__inner::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -122px;
  bottom: 0;
  width: 600px;
  background-image: url(../img/wmn.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media screen and (max-width: 1099px) {
  .order__inner::after {
    width: 347px;
    right: -30px;
    top: -100px;
  }
}
@media screen and (max-width: 767px) {
  .order__inner::after {
    content: none;
  }
}

.form {
  max-width: 774px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .form {
    max-width: 100%;
  }
}
.form__title {
  font-family: "Prata", sans-serif;
  color: #38535D;
  font-size: 54px;
  line-height: 1.1111111111;
  margin-bottom: 45px;
  max-width: 415px;
}
@media screen and (max-width: 1099px) {
  .form__title {
    font-size: 40px;
    margin-bottom: 29px;
  }
}
@media screen and (max-width: 599px) {
  .form__title {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.form__field {
  margin-bottom: 13px;
}
.form__field_check {
  margin-top: 26px;
  margin-bottom: 26px;
}
@media screen and (max-width: 599px) {
  .form__field_check {
    margin-top: 26px;
    margin-bottom: 22px;
  }
}
.form__input {
  width: 100%;
  border: 2px solid #D6D6D6;
  padding: 14px 38px;
  border-radius: 2px;
  font-size: 24px;
}
@media screen and (max-width: 1099px) {
  .form__input {
    font-size: 20px;
    padding: 14px 25px;
  }
}
@media screen and (max-width: 599px) {
  .form__input {
    font-size: 16px;
    padding: 14px;
  }
}
.form label {
  font-size: 20px;
  display: inline-block;
  color: #55565A;
  margin-left: 10px;
}
@media screen and (max-width: 599px) {
  .form label {
    font-size: 16px;
    margin-left: 3px;
  }
}
.form__button {
  font-size: 24px;
  line-height: 1.5;
  border: 0;
  color: #fff;
  background-color: #282829;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.form__button:hover {
  background-color: #000;
}
@media screen and (max-width: 1099px) {
  .form__button {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .form__button {
    padding: 15px;
    font-size: 16px;
  }
}
.form__message {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  color: #000;
  font-size: 16px;
  display: none;
}
@media screen and (max-width: 767px) {
  .form__message {
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
  }
}
.form__message.show {
  display: block;
}

.footer {
  background-color: #222222;
}
.footer__nav {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #d5c9be;
  border-bottom: 2px solid #d5c9be;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.footer__nav li {
  font-style: italic;
  text-transform: uppercase;
  margin-right: 60px;
}
.footer__nav li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .footer__nav li {
    margin-right: 40px;
  }
}
.footer__nav li:last-child {
  margin-right: 0;
}
.footer__bottom {
  padding-top: 43px;
  padding-bottom: 43px;
}
@media screen and (max-width: 767px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer__row {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.footer__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .footer__row:last-child {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__logo {
  font-family: "Prata", sans-serif;
  font-size: 36px;
  line-height: 1.5;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
.footer__social {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .footer__social {
    position: static;
    transform: none;
    margin-bottom: 20px;
  }
}
.footer__social-icon {
  margin-right: 32px;
}
@media screen and (max-width: 1099px) {
  .footer__social-icon {
    margin-right: 15px;
  }
}
.footer__social-icon:last-child {
  margin-right: 0;
}
.footer__button {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 54px;
  padding-right: 54px;
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .footer__copy {
    order: 1;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
.footer__privacy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer__privacy:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .footer__privacy {
    position: static;
    transform: none;
  }
}
.footer__text:hover {
  text-decoration: underline;
}

@keyframes is-show-header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */